@font-face {
  font-family: "myfonts";
  src: url("Assets/Font/big_noodle_titling.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primarycolor: #fff;
  --fontcolor: #fff;
}

body {
  font-family: "myfonts", sans-serif;
  color: var(--fontcolor);
}
h1 {
  text-align: center;
  font-size: 1.8em;
}
.schedule {
  width: 500px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #0000005d;
}
.schedule.hidden {
  display: none;
}
.team-container {
  width: 500px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.team {
  width: 250px;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoholder {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;

  padding-top: 10px;
  padding-bottom: 10px;
}

.time {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: var(--fontcolor);
  background-color: rgba(0, 0, 0, 0.315);
}

.teamnameholder {
  width: 100%;
  height: 30px;

  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: 36px;
  color: var(--fontcolor);
}

.logoholder img {
  object-fit: contain;
  width: 90px;
  height: 90px;
  scale: 1.2;
}
p {
  font-size: 100px;
}

.scorebox {
  width: 100px;
  display: flex;

  align-items: center;
  justify-content: center;
}
.box {
  width: 33.333px;
  margin: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
}
