@font-face {
  font-family: "myfonts";
  src: url("Assets/Font/big_noodle_titling.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primarycolor: #fff;
  --primarycolorfade: #ffffffa1;
}

body {
  font-family: "myfonts", sans-serif;
}

/*upper*/

.upper {
  width: 1900px;
  height: 117px;

  display: flex;
}

.blueteam {
  width: 377px;
  height: 73px;
  margin-top: 44px;
  border: 1px solid;
  border-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/teamnamebox.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;

  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bluelogo {
  width: 117px;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/logobox.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
}

.bluelogo img {
  width: 90px;
  height: 90px;
  display: flex;
  object-fit: contain;
}

.bluescore {
  width: 73px;
  height: 73px;
  margin-top: 44px;
  border: 1px solid;

  font-size: 38px;
  padding-top: 4px;

  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/scorebox.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
}

.uppermid {
  width: 766px;
  height: 73px;
  margin-top: 44px;
}

.redscore {
  width: 73px;
  height: 73px;
  margin-top: 44px;
  border: 1px solid;

  font-size: 38px;
  padding-top: 4px;

  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

  border-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/scorebox.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
}

.redlogo {
  width: 117px;
  height: 117px;
  border: 1px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/logobox.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
}

.redlogo img {
  width: 90px;
  height: 90px;
  display: flex;
  object-fit: contain;
}

.redteam {
  width: 377px;
  height: 73px;
  margin-top: 44px;
  border: 1px solid;

  font-size: 40px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;

  border-color: #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/teamnamebox.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
}

/*Timer*/

.timer {
  width: 1900px;
  height: 10px;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff;
}

#timer-bar {
  width: 1900px;
  height: 10px;
  background-color: #4b3a70;
  position: relative;
  left: 50%;
  transform: translateX(-50%) scaleX(1);
  transition: none;
  transition: 0.3s;
}

.timerholder {
  width: 1900;
  height: 10;
  overflow: hidden;
}

/*uppermiddle*/

.uppermiddle {
  width: 1900px;
  height: 211px;
  display: flex;
}

.pickb1 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/b1.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickb2 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/b5.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickb3 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/b1.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickb4 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/b5.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickb5 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/b1.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tournamentinfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 211px;
  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 0, 0, 1)),
    url(Assets/Other/tourinfo.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  border: 1px solid;
  border-color: #ffffff;
}

.tournamentinfo img {
  width: 240px;
  margin-top: 10px;
  margin-left: 10px;
}

.pickr1 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/r5.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickr2 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/r1.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickr3 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/r5.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickr4 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/r1.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickr5 {
  width: 160px;
  height: 211px;
  border: 1px solid;
  border-color: #ffffff;
  outline-offset: -2px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/r5.png);
  background-attachment: fixed, scroll;
  background-blend-mode: overlay;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*middle*/
.middle {
  width: 1900px;
  height: 27px;
  display: flex;
}

.nameholder {
  width: 160px;
  height: 27px;
  background-color: #322f42;
  border: 1px solid #ffffff;

  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.midmiddle {
  width: 304px;
  height: 27px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.7),
    rgba(255, 0, 0, 0.7)
  );
  background-blend-mode: overlay;
  background-attachment: fixed, scroll;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ffffff;
}

.timermid {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: -100px;
  font-size: 55px;
  color: #ffff;
}

/*lower*/

.lower {
  width: 1900px;
  height: 65px;
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.7),
    rgba(255, 0, 0, 0.7)
  );
  background-blend-mode: overlay;
  background-attachment: fixed, scroll;
}

.ban {
  width: 160px;
  height: 65px;
  border: 1px solid #ffffff;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 255, 0.7), rgba(255, 0, 0, 0.7)),
    url(Assets/Other/ban.png);
  background-blend-mode: overlay;
  background-attachment: fixed, scroll;
  background-size: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.noblur {
  width: 800px;
  position: relative;
  z-index: 2;
}

.noblur img {
  margin-top: -50px;
  filter: grayscale();
  scale: 1.1;
}

.blur {
  display: flex;
  filter: grayscale();
  z-index: 1;
}

.blur img {
  width: 170px;

  margin-top: -50px;
  margin-left: -90px;
  position: relative;
  z-index: 1;
}

.noblur1 {
  width: 810px;
  position: relative;
  z-index: 2;
}

.noblur1 img {
  margin-top: -50px;
  filter: grayscale();
  scale: 1.1;
}

.blur1 {
  display: flex;
  filter: grayscale();
  position: relative;
  z-index: 1;
}

.blur1 img {
  width: 170px;

  margin-top: -50px;
  margin-left: 10px;
}

.middleban {
  width: 304px;
  height: 65px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #ffffff;
  color: #ffff;
}

.arrowbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.arrowbox img {
  width: 75%;
}

.phasebox {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-size: 7px;
  margin-top: -49px;
  color: #ffff;
}

/*Hero*/
.image-container {
  display: flex;
}

.image-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-box img {
  width: 100%;
  opacity: 0;
  transform: translateY(150%);
  transition:
    transform 2s ease-in-out,
    opacity 2s;
  position: relative;
  z-index: 2;
  position: absolute;
}
.image-box.show img {
  transform: translateX(0%);
  opacity: 1;
  position: absolute;
}

.clone-image-box img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  transition-delay: 2s;
}
/* Animasi untuk clone */
.clone-animate {
  transition-delay: 1s;
  animation: fadeInScale 1s ease-out forwards;
}
@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*InputName*/

.name-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.name-box {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

/*phasing*/

.draft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.box {
  width: 1000px;
  height: 4000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  margin-left: -200px;
  margin-top: -100px;
  position: absolute;
}

.ban0 {
  display: flex;
}
.pick {
  display: flex;
}
.active-ban {
  background-color: red;
  color: white;
  animation: breathe 1.5s infinite alternate;
}
.active-pick {
  background-color: rgb(220, 144, 255);
  color: white;
  animation: breathe 1.5s infinite alternate;
}
@keyframes breathe {
  0% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

.audiob {
  margin-top: 100px;
}

.name-image-box {
  position: absolute;
  z-index: 1;
  scale: 0.25;
  margin-top: 100px;
}

.lanelogo {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
  top: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bluelane {
  right: 15px;
}

.redlane {
  left: 15px;
}

.lanelogo img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  filter: sepia(100%) hue-rotate(210deg) saturate(300%);
}

.lane-icon {
  padding: 2px;
  background-color: var(--primarycolor);
  z-index: 1;
}
